<Location /galidasher>
AuthType Basic
AuthName "{{ apache_ldap.msg }}"
AuthBasicProvider ldap
AuthzLDAPAuthoritative on
AuthLDAPURL {{ apache_ldap.url }}
AuthLDAPBindDN {{ apache_ldap.bind }} 
AuthLDAPBindPassword {{ apache_ldap.password }}
require ldap-user{% for user in apache_ldap.users %} {{ user }}{% endfor %}

</Location>