[dashboard-config]
outputJSONFile={{ galidasher.dest }}/web/agents.json
snapShotFolder={{ galidasher.dest }}/web/screenshots/
configAgentsFolder={{ galidasher.dest }}/etc/mh-dashboard/agent
vncpasswdFile={{ galidasher.vnc_pass }}
MHServer = {{ mh.server }}
MHUser = {{ mh.user }}
MHPassword = {{ mh.pass }}
VNCPort = {{ vnc.port }}