[dashboard-config]
outputJSONFile={{ galidasher.dest }}/web/agents.json
snapShotFolder={{ galidasher.dest }}/web/screenshots/
configAgentsFolder={{ galidasher.dest }}/etc/mh-dashboard/agents
MHServer = {{ mh.server }}
MHUser = {{ mh.user }}
MHPassword = {{ mh.pass }}
VNCPort = 8080
vncpasswdFile={{ galidasher.vnc.dest_dir }}/passwd